
// GRID

@mixin col($col, $max-cols: 12) {
  width: (100%/$max-cols)*$col - 2%;
}

.col {
  width: 100%;
  display: inline-block;
  -webkit-flex-flow: row wrap;
     -moz-flex-flow: row wrap;
          flex-flow: row wrap;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  &:first-child {
    margin-top: -($gutter-large);
  }
}

.tiles {
  width: 102%;
  margin-left: -2%;
  -webkit-flex-flow: row wrap;
     -moz-flex-flow: row wrap;
          flex-flow: row wrap;

  > [class^="row-"],
  > [class*="row-"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

    [class^="row-"],
    [class*="row-"] {
      margin: 0;
      display: inline-block;
    }

    &:first-child {
      margin-left: 2%;
    }
  }
}

// Each column
[class^="row-"],
[class*="row-"] {
  display: inline-block;
  margin-left: 2%;
  vertical-align: top;
  letter-spacing: normal;
  text-align: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  &:first-child {
    margin-left: 0px;
  }
}

// Mobile-Portrait Grid
@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    .row-#{$i}-#{$sum} {
      @include col($i, $sum);

      &-mt {
        margin-top: $gutter-large;
      }

      &-mb {
        margin-bottom: $gutter-large;
      }
    }
  }
}

@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    @media screen and (max-width: 680px) {
      .row-#{$i}-#{$sum}.responsive {
        @include col(12);
      }
    }

    @media screen and (min-width: 680px) and (max-width: 980px) {
      .row-#{$i}-#{$sum}.responsive {
        @include col(6);
      }
    }

    @media screen and (min-width: 980px) {
      .row-#{$i}-#{$sum}.responsive {
        @include col($i);
      }
    }
  }
}
