
$dark: #000;
$light: #fff;
$error: #ff4d4d;
$success: #00cc33;
$positive: #57bcf9;

$box-shadow: 0 1px 3px rgba(0,0,0,.2);
$white-op-thin: rgba(255,255,255,.2);
$white-op: rgba(255,255,255,.6);
$black-op: rgba(0,0,0,.4);
$line-height: 26px;

$max-cols: 12;
$gutter-small: 10px;
$gutter-medium: 20px;
$gutter-large: 40px;

$inline-height: 80px;

$transition-style: 400ms cubic-bezier(.14,.39,.31,1);

$font-url: '../fonts/';

@import "../frmk/_reset.scss";
@import "../frmk/_fonts.scss";
@import "../frmk/_icons.scss";
@import "../frmk/_grid.scss";
@import "../frmk/_form.scss";
@import "../frmk/_transitions.scss";

@import "../styles.scss";
