<nav>
    <ul class="list-inline">
        <li class="item">
            <i class="icon-sitemap"></i>
            <a ui-sref="projects({ path: 'all' })" title="{{ 'ACCESS_TO' | translate: { item: item.name } }}" ng-if="! isEmpty();">
                {{ 'PROJECTS_TITLE' | translate }}
            </a>
            <span ng-if="isEmpty();">{{ 'PROJECTS_TITLE' | translate }}</span>
        </li>
        <li class="item" ng-repeat="item in data.breadcrumb">
            <i class="icon-angle-right"></i>
            <a ui-sref="projects({ path: item.path })" title="{{ 'ACCESS_TO' | translate: { item: item.name } }}" ng-if="! $last">
                {{ item.name }}
            </a>
            <span ng-if="$last">{{ item.name }}</span>
        </li>
    </ul>
</nav>
