
.icon-doc-text:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '\e801'; } /* '' */
.icon-file-pdf:before { content: '\e802'; } /* '' */
.icon-file-word:before { content: '\e803'; } /* '' */
.icon-file-excel:before { content: '\e804'; } /* '' */
.icon-file-powerpoint:before { content: '\e805'; } /* '' */
.icon-file-image:before { content: '\e806'; } /* '' */
.icon-file-archive:before { content: '\e807'; } /* '' */
.icon-file-audio:before { content: '\e808'; } /* '' */
.icon-file-video:before { content: '\e809'; } /* '' */
.icon-file-code:before { content: '\e80a'; } /* '' */
.icon-folder:before { content: '\e80b'; } /* '' */
.icon-folder-open:before { content: '\e80c'; } /* '' */
.icon-folder-empty:before { content: '\e80d'; } /* '' */
.icon-folder-open-empty:before { content: '\e80e'; } /* '' */
.icon-doc-text-inv:before { content: '\e80f'; } /* '' */
.icon-doc-inv:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-cog:before { content: '\e816'; } /* '' */
.icon-attention-circled:before { content: '\e817'; } /* '' */
.icon-sitemap:before { content: '\e818'; } /* '' */
.icon-code:before { content: '\e819'; } /* '' */
.icon-database:before { content: '\e81a'; } /* '' */
.icon-info:before { content: '\e81b'; } /* '' */
.icon-link-ext:before { content: '\e81c'; } /* '' */
.icon-cancel-circled:before { content: '\e81d'; } /* '' */
.icon-cancel-circled2:before { content: '\e81e'; } /* '' */
.icon-ok-circled2:before { content: '\e81f'; } /* '' */
.icon-ok-circled:before { content: '\e820'; } /* '' */
.icon-cancel:before { content: '\e821'; } /* '' */
.icon-ok:before { content: '\e822'; } /* '' */
.icon-plus:before { content: '\e823'; } /* '' */
.icon-minus:before { content: '\e824'; } /* '' */
.icon-down-big:before { content: '\e825'; } /* '' */
.icon-left-big:before { content: '\e826'; } /* '' */
.icon-right-big:before { content: '\e827'; } /* '' */
.icon-up-big:before { content: '\e828'; } /* '' */
.icon-down-open:before { content: '\e829'; } /* '' */
.icon-left-open:before { content: '\e82a'; } /* '' */
.icon-right-open:before { content: '\e82b'; } /* '' */
.icon-up-open:before { content: '\e82c'; } /* '' */