<div class="item input-tagger">
    <input type="text" ng-model="tag" placeholder="{{ placeholder }}">
    <span class="button button-valid tr" ng-click="addTag();">
        <i class="icon icon-plus"></i>
    </span>
    <div class="tags-list" ng-if="! isEmpty();">
        <input type="hidden" ng-model="collection">
        <div class="item-tag" ng-repeat="item in collection">
            <p>{{ item }}</p>
            <span class="button button-unvalid tr" ng-click="deleteTag($index);">
                <i class="icon icon-cancel"></i>
            </span>
        </div>
        <div class="spacer"></div>
    </div>
</div>
