
<messages-handler success="$root.success" fullscreen="true"></messages-handler>

<nav class="container" id="options">
    <a ui-sref="app.projects({ path: 'all' })" class="button-icon button-rounded" title="{{ 'BACK_TO_PROJECTS' | translate }}">
        <i class="icon-left-big"></i>
    </a>
</nav>

<section class="col">
    <form ng-submit="submit();" class="container">
        <fieldset>
            <legend class="item">{{ 'ABOUT_THE_APP' | translate }}</legend>

            <div class="item input-select icon-down-open" require-data="language">
                <select ng-model="data.app.language">
                    <option value="">Choose in list</option>
                    <option value="{{ language.value }}" ng-selected="language.value === data.app.language" ng-repeat="language in languages">{{ language.label | translate }}</option>
                </select>
            </div>
            <input-tagger placeholder="{{ fields.app.ignores.label | translate }}" collection="data.app.ignores"></input-tagger>
        </fieldset>

        <fieldset>
            <legend class="item">{{ 'ABOUT_THE_MENU' | translate }}</legend>

            <div class="item input-text" require-data="href">
                <input type="url" ng-model="data.menu.php_my_admin.href" placeholder="{{ fields.menu.php_my_admin.href.label | translate }}">
            </div>
        </fieldset>

        <fieldset>
            <legend class="item">{{ 'ABOUT_THE_RESEARCH' | translate }}</legend>

            <div class="item input-range">
                <label class="row-8-12">{{ fields.research.chars.label | translate: { 'chars': data.research.chars } }}</label>
                <input class="row-4-12" type="range" ng-model="data.research.chars" min="1" max="5" step="1">
            </div>

            <div class="item input-range">
                <label class="row-8-12">{{ fields.research.time.label | translate: { 'time': data.research.time } }}</label>
                <input class="row-4-12" type="range" ng-model="data.research.time" min="500" max="2000" step="500">
            </div>
        </fieldset>
        <div class="button-list-right">
            <button class="button button-cancel tr" ng-if="isInstalled();" ng-click="cancel($event);">{{ 'BACK_TO_PROJECTS' | translate }}</button>
            <button class="button button-submit tr">{{ 'SAVE' | translate }}</button>
        </div>
    </form>
</section>
